* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
scroll-behavior: smooth;
}

body {
    height: 100vh;
}

h1,h2,h3,p,a, i, a:visited,span{
    color:white;
    text-decoration: none;
}
a,p{
    font-size: 1.4rem;

}
#header {
    height: 6.4rem;
    width: 100%;
    background-color: white;
    position: fixed;
}
#header, #home .textos button, header ul, .lista-imagens, footer #conectar .social-midia, .sony .imagens, .termo-uso ul {
    display: flex;

}

#header, #home .textos button {
    justify-content: center;
    align-items: center;

}

ul li {
    list-style: none;
    padding: 0 1.8rem;
    
}
#header a, #home .textos h3, #home .textos button, #melhores-jogos #esquerda p, footer .lista-informacoes h1 {
    font-size: 1.8rem;
}

#header a {
    color: black;
    font-weight: 400;
}
main {
    height: 100%;
}


section {
    padding-top: 6.4rem;
}
#home {
    background-image: url(https://gmedia.playstation.com/is/image/SIEPDC/silent-hill-2-hero-banner-desktop-01-en-04oct22?$3200px$);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    color: white;
    
}
#home .textos h1{
    font-size: 5.5rem;
    font-weight: 100;
    margin-bottom: 1.8rem;
    
}
#home .textos h3{
    margin-bottom: 1.8rem;
}

#home .textos h2{
    font-size: 2.8rem;
    font-weight: 300;
    margin-bottom: 2.8rem;
}
#home .textos button {
    width: 35rem;
    height: 4rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 2rem;
    border: none;
    justify-content: center;
    align-items: center;
    padding: 0 2.5rem;
    margin-bottom: 2.0rem;
    cursor: pointer;  
}

#home .textos button:hover {
    background-color: rgba(255, 255, 255, 0.2);

    
}

#home .textos{
    margin: 6rem 0 20rem 19rem;

}
#home .textos button .material-symbols-outlined {
    padding-right: 1rem;
    font-size: 3rem !important;

}

.lista-imagens{
    overflow-x: scroll;
    overflow-y: hidden;
}

.imagem img{
    margin: 5rem 0;
    width: 58rem;
    height: 35rem;
    border-radius: 3rem;
    padding: 0 1rem;
    
}

.imagem img:hover{
   transition: 0.2s;
   transform: scale(1.03);
    
}

#O-que-e-sh{
    background-image: url(https://gmedia.playstation.com/is/image/SIEPDC/silent-hill-2-screen-05-en-06oct22?$1200px$);
    background-size:cover;
    height: 80%;
    background-position: center;
    padding: 7rem 46rem;
}

#O-que-e-sh .textos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
} 

#O-que-e-sh .textos #textos-esquerda {
    margin-right: 4rem;
}

#O-que-e-sh .textos #textos-esquerda h1 {
    font-size: 4rem;
    margin-bottom: 3rem;
}

#O-que-e-sh .textos #textos-esquerda p {
    font-size: 3rem;
}

#O-que-e-sh .textos #textos-direita p {
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

#fantasmas-passado {
    height: 65%;
    background-image: url(https://gmedia.playstation.com/is/image/SIEPDC/silent-hill-2-screen-07-en-06oct22?$2400px$);
    background-size: cover;
    background-position: bottom;
    padding: 10rem 100rem 10rem 46rem;
    
}

#fantasmas-passado .textos h1{
font-size: 3rem;
font-weight: 100;
margin-bottom: 2rem;
}
#fantasmas-passado .textos p{
    font-size: 1.6rem;
    font-weight: 100;
    margin-bottom: 2rem
}    
#melhores-jogos{
    background-image: url(https://gmedia.playstation.com/is/image/SIEPDC/this-month-on-playstation-cross-sell-background-block-desktop-01-en-04oct22?$2400px$);
    height: 55%;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 6rem 25rem;
    

    
}
#melhores-jogos #direita img{
    width: 75rem;
    
}   
#melhores-jogos #esquerda h1{
    font-size: 4.5rem;
    margin: 7rem 0 2rem 0;
    font-weight: 300;
}   
#melhores-jogos #esquerda p{
    margin-bottom: 2rem;
}   
#melhores-jogos #esquerda{
    padding-right: 7rem
}
#melhores-jogos #esquerda button{
    height: 5rem;
    width: 25rem;
    border: none;
    border-radius: 2.5rem;
}   
#melhores-jogos #esquerda button a, #melhores-jogos #esquerda button a:visited{
   color: black;
}   
 #melhores-jogos #esquerda button :hover{
    background-color: rgba(255, 255, 255, 0.2);
}   

footer{
    height: 74%;
    background-color: rgb(0, 67, 156);
    padding: 1rem 7rem 
}

footer .logo p a{
    font-size: 1.5rem;

}
footer .logo p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
footer .logo{
    border-bottom: 0.1rem solid white;

}

footer .lista-informacoes {
    padding: 2rem 0;
    display: grid;
    grid-template-columns:repeat(6, 1fr);
    border-bottom: 0.1rem solid white;
    
}
footer .lista-informacoes h1{
    margin-bottom: 1rem;
}

footer .lista-informacoes ul li {
    padding: 0;
    margin-bottom: 1rem;
}

footer #conectar .social-midia li{
    padding: 1.5rem;
    font-size: 3rem;
}
.sony{
    line-height: 2rem;
    border-bottom: solid 0.1rem;
    padding-bottom: 2rem;
    border-bottom: 0.1rem solid white;
}

.sony .imagens{
    justify-content: space-between;
}

.sony .imagens #certificado{
width: 6rem;
}


.sony a{
    text-decoration: underline
}

.termo-uso ul {
    justify-content:flex-end;
    padding-left: 2rem;
}
.termo-uso ul li{
  padding: 0 0 0 0.5rem;
  padding-top: 3rem;
}